{% extends 'base.html' %}

{% block title %}View{% endblock %}

{% block menu %}
    <li><a href="{% url 'webapp:photo_update' photo.pk %}">Update</a></li>
    <li><a href="{% url 'webapp:photo_delete' photo.pk %}">Delete</a></li>
{#    <li>{% include 'partial/cart_add_form.html' %}</li>#}
{% endblock %}

{% block content %}
    <div class="box">
{#        <h1>{{ product.name }}</h1>#}
{#        <p>Категория: {{ product.get_category_display }}</p>#}
{#        <p>Осталось: {{ product.amount }} по {{ product.price  }} сом</p>#}
{#        <p class="pre">{{ product.description }}</p>#}

    <p>
        <img src="{{ photo.photo_img.url }}" width="250" height="250"alt="photo">
        <br>
        {{ photo.signature }}
    </p>
    <p>Автор: {{ photo.author }}</p>
    <p> Созданно: {{ photo.created_at }} </p>
    </div>

    <p>Users which like: {% for user in likes %}
        <a href="{% url 'accounts:detail' user.pk %}">{{ user.author}}</a>
    {% endfor %}
    </p>
{% endblock %}
